.address {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  border-radius: 7px;
  border: 3px #82ba37 solid;
  margin-bottom: 15px;
  padding: 10px;
  height: 150px;
  color: #82ba37;
}

.address:hover {
  background-color: #82ba37;
  color: #fff;
  cursor: pointer;
}


.location-info {
  text-align: left;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pencil-icon {
  font-size: 1.5rem;
  font-weight: bolder;
  color: inherit;
}

a {
  color: inherit;
}

.pencil-icon:hover {
  color: #fff;
}