<header>
    <div>
        <i class="bi bi-list menu"></i>
    </div>
    <div>
        <h5>{{globals.global.title}}</h5>
    </div>
    <div>
        <img src="../assets/images/en.png" class="image">
    </div>
</header>
<article>
    <div class="row text-center align-items-center main">
        <div class="col-sm-4 offset-sm-4">
            <h2 class="capital"> {{ globals.content.heading }} </h2><br>
            <p>{{ globals.content.description }}</p>
        </div>

        @for (location of locations; track location) {
        <app-address [location]="location"></app-address>
        }

        <app-buttons [globals]="globals"></app-buttons>
    </div>
</article>

<footer>
    {{ globals?.global?.copyright }}
</footer>